{% extends "base.html" %} {% block title %}Page Title Here{% endblock %} {%
block content %}
<!-- content goes here -->
  <script>
  $(document).ready(function (){
    // Add event listener to the button

    /*document.getElementById('saveGoalButton').addEventListener('click', function (event) {
        console.log("Button clicked");
        // Prevent default action to avoid interference
        event.preventDefault();

        // Perform validation for the target_date_input
        const dateInput = document.getElementById("target_date_input").value;
        const regex = /^(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}$/;

        if (!regex.test(dateInput)) {
            // Alert user if the date is invalid
            alert("Invalid date format! Use MM/DD/YYYY.");
        } else {
            console.log("Save button clicked!");
            window.location.href = "/profile";
        }
    }); */
  });
  </script>
 <div class="container" style="background-color:#87CEFA;">
      <br>
      <!-- First Row: Profile Image, Details, Goal -->
      <div class="row row-flex">
        <div class="col-sm-4">
          <div class="card text-center">
              <div class="card-header">Profile Photo</div>
            <img src="{{ url_for('static', filename='images/snoopy.jpg') }}" alt="Profile" class="profile-img">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card text-center">
            <div class="card-header">Profile Details</div>
            <br><br>
              <div class="text-left">
                <form action="/api/save_goal" method="POST">
                    <div>
                      <label for="name_input">Enter your name -</label>
                      <input type="text" id="name_input" name="name" required>
                    </div>
                    <br><br>
                    <div>
                      <label for="age_input" name="age">Enter your age -</label>
                      <input type="number" id="age_input" min="15" max="100" required>
                      <br><br>
                    </div>
                    <div>
                      <label for="weight_input">Enter your weight -</label>
                      <input type="number" id="weight_input" name="weight" min="10" max="200" required>
                      <br><br>
                    </div>
                    <div>
                      <label for="goal_input">Enter your goal -</label>
                      <select id="goal_input" name="goal-type">
                        <option value="BulkUp">Bulk Up</option>
                        <option value="TrimDown">Trim Down</option>
                        <option value="StayAsIs">Stay same</option>
                      </select>
                    </div>
                    <br><br>
                    <div>
                        <label for="target_date_input">Enter your target date -</label>
                        <input type="text" id="target_date_input" name="target_date" placeholder="MM/DD/YYYY" pattern="(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" title="Enter a date in MM/DD/YYYY format">
                        <small>Format: MM/DD/YYYY</small>
                    </div>
                    <button type="Submit">Save my goal</button>
                </form>
              </div>
            </div>
        </div>
          <br><br><br><br><br><br><br><br><br><br>
          <p>   </p>
                    <br><br><br><br><br><br><br><br><br><br>
          <p>   </p>
      </div>
    </div>
{% endblock %}
